%h1= "Artist: " + @query 
%table
  %thead
    %tr
      %th{:colspan => 3}= 'actions'
  
  %tbody
    - for song in @songs
      %tr{ :class => cycle(:odd, :even) }
        %td= song["song_title"] + " (%d" % song["sum"] + ")"
        %td.action= link_to 'show', song